{% extends 'base.html' %}
{% block content %}

<body style="background-image: url(../static/plane1.jpg); no repeat; position: relative; background-size: cover;">
<h1 style="color: white; padding: 50px; font-size: 60px; font-family: 'Inter'; font-weight: 800;">WELCOME TO FLIGHTS</h1>
<a href="{% url 'search' %}" type="button" class="btn btn-primary" style="font-size: 33px; text-align: center; margin: 10px; position:fixed; left:280px; top:230px; width: 170px; height: 70px; background-color: white; --bs-btn-border-color: #0d5528; --bs-btn-color: #0d5528; --bs-btn-hover-border-color:#0d5528; border-radius: 50px">Start</a>
</body>
{% endblock %}