{% extends 'base.html' %}

{% block content %}

<div class="container" align="center">
        <div class="row justify-content-center align-items-center">
            <div class="col-5 text-center justify-content-center ">
                <form method="post" align="center">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-outline-success" style="background-color: #0d5528; --bs-btn-color: white; --bs-btn-border-color: white; --bs-btn-hover-border-color:green; border-radius: 50px" value="Login"> or
                        <a href="{% url 'signup' %}" class="btn btn-outline-primary me-2" style="background-color: white; --bs-btn-border-color: #0d5528; --bs-btn-color: #0d5528; --bs-btn-hover-border-color:green; border-radius: 50px; width: 60px; height: 30px; font-size: 9px; display: inline-flex;  justify-content: center; align-items: center;">Sign up</a>
                </form>
            </div>
        </div>
    </div>


{%endblock%}
