{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-7 text-center justify-content-center">
                <form method="post" id="form-sign" align="center">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-primary" style="background-color: #0d5528; --bs-btn-color: white; --bs-btn-border-color: white; --bs-btn-hover-border-color:green; border-radius: 50px" value="Sign up">
                </form>
            </div>
        </div>
    </div>
{% endblock %}